[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
pypdf = "*"
sentence-transformers = "*"
faiss-cpu = "*"
openai = "*"
sagemaker = ">=2.175.0"
watchdog = "*"
jupyterlab = "*"
cohere = "*"
pydantic = "*"
torch = "==2.0.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
